name: CI

on:
  push:
    branches:
      - dev
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Get npm cache directory
        id: npm-cache
        run: |
          echo "::set-output name=dir::$(npm config get cache)"

      - name: Cache node dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.npm-cache.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Cache bower dependencies
        uses: actions/cache@v4
        with:
          path: components
          key: ${{ runner.os }}-bower-${{ hashFiles('**/bower.json') }}
          restore-keys: |
            ${{ runner.os }}-bower-

      - name: Install dependencies
        run: |
          cp config.dev.js config.js
          npm install
          npm install -g bower
          bower install -p
          npm install -g jshint

      - name: JSHint
        run: |
          jshint src && jshint config

      - name: Unit Tests
        run: |
          npm test