.container {
    padding: 0 20px;
    line-height: 14pt;
}

.title-bar {
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 11pt;
}

.logo {
    display: table-cell;
    vertical-align: bottom;
    max-width: 33%;
}

.logo img {
    text-align: left;
    max-width: 250px;
    max-height: 100px;
    border-radius: 4px;
}

.title-bar .title {
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
}

.title-bar .text {
    text-align: left;
    font-weight: bold;
}

.spacer {
    width: 100%;
    border-bottom: 1px solid #65d8bf;
    margin: 12px 0;
}

.context-holder {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.contact-from {
    display: table-cell;
    vertical-align: middle;
}

.context {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

.context-table {
    width: 100%;
}

.context-table .value {
    width: 150px;
}

.address-holder {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.contact-to {
    display: table-cell;
    word-wrap: break-word;
    width: 45%;
}

.contact-to .field {
    font-weight: bold;
    padding-bottom: 1px;
}

.footer .field {
    font-weight: bold;
}

#footer {
    margin: 75px 0 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #879099;
}
