body {
    height: 4cm;
}

.footer {
    width: 90%;
    margin-left: 5%;
    padding-top: 5px;
    border-top: 3px solid #3d4c59;
    font-size: 8pt;
}

/***************
 * PAGE NUMBERS *
 ****************/

.page-number {
    position: fixed;
    bottom: 20px;
    font-size: 6pt;
    text-align: left;
}
