.header,
.logo-header {
    width: 100%;
    border-radius: 4px;
    color: white;
    display: table;
    table-layout: fixed;
    margin-bottom: 30px;
}

.header .title {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-size: 25pt;
    padding-left: 35px;
}

.header-holder-context {
    display: table;
    border-radius: 4px;
    width: 90%;
}

.logo-holder {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 10px;
}

.logo-holder img {
    border-radius: 4px;
    max-width: 200px;
    height: auto;
    max-height: 100px;
    width: auto;
}

.header-holder {
    display: table-cell;
    width: 67%;
    vertical-align: middle;
}

.left-header,
.right-header {
    text-align: center;
    display: table-cell;
    width: 33%;
}

.left-header {
    vertical-align: middle;
    font-size: 25pt;
}

.right-header {
    padding: 25px 35px;
    vertical-align: middle;
    font-size: 10pt;
    line-height: 14.5pt;
    text-align: right;
}

.contact-from {
    padding: 25px 35px;
    float: right;
    font-size: 10pt;
    line-height: 14.5pt;
    text-align: right;
}

.address-holder {
    display: inline-block;
    text-align: right;
}

.context-holder {
    display: inline-block;
    padding-left: 35px;
    line-height: 14.5pt;
    max-width: 69.9%;
    vertical-align: top;
    word-wrap: break-word;
}

.contact-to:first-child {
    margin-right: 35px;
}

.contact-to {
    float: left;
    margin-bottom: 20px;
    word-wrap: break-word;
    max-width: 200px;
}

.field,
.value,
.mb5px {
    margin-bottom: 5px;
}

.field {
    color: #879099;
}

.fields-holder {
    float: right;
    text-align: right;
    overflow: hidden;
    line-height: 14.5pt;
    padding-right: 35px;
    max-width: 30%;
}

.spacer {
    margin-left: 2.75%;
    width: 94.5%;
    border-bottom: 3px solid #879099;
    overflow: hidden;
    white-space: nowrap;
}
#footer {
    margin: 75px 0 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #879099;
}
