html,
body {
    background: #f9fbfd;
}

body {
    border-top: 3px solid #00974e;
    padding-top: 32px;
    padding-bottom: 64px;
}

td.large-12.first,
th.large-12.first {
    padding-left: 24px;
}

td.large-12.last,
th.large-12.last {
    padding-right: 24px;
}

/*
--------
Header
--------
*/

table.header,
table.header td {
    background: #f9fbfd;
}

img.logo {
    max-height: 40px;
    max-width: 100%;
    margin: 0 auto;
}

/*
--------
Footer
--------
*/

table.footer,
table.footer td {
    background: #f9fbfd;
}

.footer p {
    font-size: 70%;
    color: #879099;
}

.footer a {
    color: #606060;
}

/*
--------
Buttons / Links
--------
*/

table.button table td {
    color: #ffffff;
    background: #00974e;
    border: 2px solid #00974e;
}

table.button table td a {
    font-weight: normal;
    color: #ffffff;
    border: 1px solid #10806f;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.1), inset 0 1px 0 1px rgba(255, 255, 255, 0.06);
}

table.button.radius table td {
    border-radius: 3px;
}

a,
a:active,
a:visited {
    color: #00974e;
    text-decoration: underline;
}

a:hover {
    color: #004b26;
}

/*
--------
Text
--------
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #232e38;
}

body,
table.body,
p,
td,
th {
    color: #3d4c59;
}

.text-muted {
    color: #95aac9 !important;
}

.text-danger {
    color: #e63757 !important;
}

h1 {
    font-weight: bold;
    font-size: 26px;
}

body,
table.body,
p,
td,
th {
    font-size: 15px;
    line-height: 1.4;
}

table.h-line th {
    border-bottom: 1px solid #e7e9eb;
}

/*
--------
Email-Specific Styles
--------
*/

.decline-invitation {
    color: #3d4c59;
    font-size: 80%;
    text-decoration: none;
}

.invitation-contact-information {
    font-size: 90%;
    color: #5e6a73;
}

.change-notification-settings {
    font-size: 90%;
}
