.container {
    padding: 0 20px;
    line-height: 14pt;
    word-wrap: break-word;
}

.logo {
    display: table-cell;
}

.logo img {
    max-width: 200px;
    max-height: 30px;
    margin: 0;
    vertical-align: bottom;
}

.title-bar {
    display: table;
    width: 100%;
    font-size: 11pt;
}

.title-bar div {
    width: 33%;
}

.title-bar .title {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
}

.title-bar .invoice-number {
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
}

.item-spacer {
    width: 100%;
    border-bottom: 1px solid #c4cdd5;
    margin: 10px 0;
}

.spacer {
    width: 100%;
    border-bottom: 1px solid #65d8bf;
    margin: 10px 0;
}

.context-holder {
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 8pt;
    padding-left: 15px;
    padding-right: 15px;
}

.contact-from {
    display: table-cell;
    vertical-align: middle;
}

.contact-from .field,
.bolder {
    font-weight: bold;
}

.context {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

.context-table {
    width: 100%;
}

.context-table .value {
    width: 110px;
}

.context-table .emphasis {
    font-weight: bold;
    font-size: 11pt;
}

.contact.to {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
}

.contact.to .field {
    font-weight: bold;
    padding-bottom: 1px;
}

.items-holder {
    margin: 15px 0 2px;
}

.items {
    width: 100%;
    font-size: 8pt;
    line-height: 8pt;
    table-layout: fixed;
}

.narrow {
    width: 15%;
}

.items thead {
    font-weight: normal;
}

.items th {
    padding: 4px 15px;
    border-bottom: 1px solid #c4cdd5;
}

.items td {
    padding: 4px 15px;
    border-bottom: 1px solid #dfe3e8;
}

.item .details {
    color: #5e6a73;
    font-size: 6pt;
    padding-left: 10px;
}

.custom-field {
    padding-top: 4px;
}

.item .unit_cost,
.item .amount,
.money-column {
    text-align: right;
}

.item .name {
    width: 50%;
}

.item .quantity {
    width: 15%;
}

.totals {
    width: 100%;
    text-align: right;
}

.totals td {
    padding: 2px;
    font-size: 8pt;
    padding-right: 15px;
}

.highlight td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.totals-holder {
    width: 33.3%;
    float: right;
    margin-top: 3px;
    margin-bottom: 25px;
}

.footer {
    background-color: #f5f6f9;
    width: 55%;
    margin: 15px 0 0 0;
    float: left;
    padding: 6px;
    border-radius: 4px;
}

.footer .notes-holder,
.footer .terms-holder {
    margin: 3px;
    font-size: 8pt;
}

.footer .field {
    font-weight: bold;
}

.hidden {
    visibility: hidden;
    clear: both;
    width: 100%;
    height: 1px;
}

.border-top td {
    border-top: 1px solid #3d4c59;
}

.border-top-2 td {
    border-top: 2px solid #3d4c59;
}

.paid-stamp {
    position: fixed;
    padding: 3px;
    top: 100px;
    right: 210px;
    color: #e35c44;
    border: 8px solid #e35c44;
    font-size: 40pt;
    -webkit-transform: rotate(30deg);
}
