name: Console Run

on:
  workflow_dispatch:
    inputs:
      command:
        description: Command to run (bin/console ***)
        required: true
      rebuild:
        description: Do Rebuild
        type: boolean

jobs:
  container:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    env:
      TASK_DEFINITION_ARN: InvoicedConsole

    steps:
      - name: Determine environment
        uses: iamtheyammer/branch-env-vars@v1.1.2
        with:
          bevActionOnNoRef: error
          APP_ENV: |
            production:production
            sandbox:sandbox
            !default:staging
          AWS_REGION: |
            production:us-east-2
            sandbox:us-west-1
            !default:us-west-2
          ECS_CLUSTER: |
            production:InvoicedProduction
            sandbox:InvoicedSandbox
            !default:InvoicedStaging
          REDIS_HOST: |
            production:production.renonf.ng.0001.use2.cache.amazonaws.com:6379
            sandbox:sandbox-2.kt5fq8.ng.0001.usw1.cache.amazonaws.com:6379
            !default:invoiced-staging-2.r0fyva.0001.usw2.cache.amazonaws.com:6379
          ECS_IMAGE: |
            production:production
            sandbox:sandbox
            dev:staging
            !default:custom

      - uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        if: inputs.rebuild && env.ECS_IMAGE == 'custom'

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        if: inputs.rebuild && env.ECS_IMAGE == 'custom'
        with:
          php-version: '8.3'
          coverage: none

      - name: Get Composer Cache Directory
        id: composer-cache
        if: inputs.rebuild && env.ECS_IMAGE == 'custom'
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        id: cache
        if: inputs.rebuild && env.ECS_IMAGE == 'custom'
        with:
          path: |
            ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install dependencies
        if: inputs.rebuild && env.ECS_IMAGE == 'custom'
        run: |
          composer install --no-dev --no-interaction --optimize-autoloader --no-progress --no-scripts --ignore-platform-req=ext-redis --ignore-platform-req=ext-mailparse
          composer dump-autoload --optimize --no-dev --classmap-authoritative
          composer dump-env ${{ env.APP_ENV }} --empty

      - name: Compile assets
        if: inputs.rebuild && env.ECS_IMAGE == 'custom'
        run: |
          bin/console config:build
          rm -rf .env .env.local tests

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        if: inputs.rebuild && env.ECS_IMAGE == 'custom'

      - name: Build and push invoiced container
        uses: docker/build-push-action@v2.6.1
        if: inputs.rebuild && env.ECS_IMAGE == 'custom'
        with:
          file: docker/php/Dockerfile
          context: .
          build-args: |
            PHP_ENVIRONMENT=production
            REDIS_HOST=${{ env.REDIS_HOST }}
            APP_ENV=${{ env.APP_ENV }}
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/invoiced:${{ env.ECS_IMAGE }}
          cache-from: type=gha,scope=invoiced
          cache-to: type=gha,scope=invoiced,mode=max

      - name: Make ECS console task definition JSON
        if: inputs.rebuild && env.ECS_IMAGE == 'custom'
        run: |
          bin/console deploy:ecs-task-definition console ${{ env.ECS_IMAGE }} > task-definition.console.json

      - name: Deploy ECS console task
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        if: inputs.rebuild && env.ECS_IMAGE == 'custom'
        id: ecs-console
        with:
          task-definition: task-definition.console.json

      - name: Set task definition arn
        if: inputs.rebuild && env.ECS_IMAGE == 'custom'
        run: |
          echo "TASK_DEFINITION_ARN=${{ steps.ecs-console.outputs.task-definition-arn }}" >> "$GITHUB_ENV"

      - name: Run command
        run: |
          NETWORK_CONFIG=$(<ecs/console/network-configuration.${{ env.APP_ENV }}.json)
          COMMAND_PARTS=$(echo ${{ github.event.inputs.command }} | sed -E 's/ +/","/g' | sed -E 's~/~\\/~g')
          COMMAND=$(sed "s/<!--COMMAND-->/$COMMAND_PARTS/" ecs/console/console-command.json)
          echo $COMMAND
          TASK_ARN=`aws ecs run-task \
            --cluster ${{ env.ECS_CLUSTER }} \
            --task-definition $TASK_DEFINITION_ARN \
            --launch-type FARGATE \
            --network-configuration "$NETWORK_CONFIG" \
            --overrides "$COMMAND" | jq -r '.tasks[0].taskArn' | sed 's~.*task/${{ env.ECS_CLUSTER }}/~~'`
          echo "Watch progress in the Amazon ECS console: https://${{ env.AWS_REGION }}.console.aws.amazon.com/ecs/v2/clusters/${{ env.ECS_CLUSTER }}/tasks/$TASK_ARN/logs"
