name: Deploy Datadog Agent

on:
  workflow_dispatch: {}

jobs:
  container:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    env:
      REPO_NAME: ${{ github.event.repository.name }}

    steps:
      - name: Determine environment
        uses: iamtheyammer/branch-env-vars@v1.1.2
        with:
          bevActionOnNoRef: error
          APP_ENV: |
            production:production
          AWS_REGION: |
            production:us-east-2
          ECS_CLUSTER: |
            production:InvoicedProduction

      - uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Deploy Datadog Agent service
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ecs/datadog/task-definition.${{ env.APP_ENV }}.json
          service: DatadogAgent
          cluster: ${{ env.ECS_CLUSTER }}
